@charset "UTF-8";
@import 'reset.css';
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("fonts/Lato-Regular.woff2") format("woff2"), url("fonts/Lato-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("fonts/Lato-Semibold.woff2") format("woff2"), url("fonts/Lato-Semibold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("fonts/Lato-Bold.woff2") format("woff2"), url("fonts/Lato-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("fonts/Lato-Heavy.woff2") format("woff2"), url("fonts/Lato-Heavy.woff") format("woff");
  font-display: swap;
}
/* цвета, градиенты */
.visually-hidden:not(:focus):not(:active), input[type=checkbox].visually-hidden, input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 43px;
  background-color: #3E9CDC;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
.main-button_white {
  background-color: #FFFFFF;
  border: 1px solid #6F6D7B;
  color: #000000;
}

@media screen and (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
}
html {
  scroll-behavior: smooth;
  font-family: "Lato", "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
}

.header {
  background-color: rgba(16, 16, 29, 0.9);
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navigation__item + .navigation__item {
  margin-left: 60px;
}

.navigation__link {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation__link_blue {
  color: #3E9CDC;
}

.about {
  padding-top: 100px;
  padding-bottom: 203px;
  background: url("../img/about-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 850px;
}

.about__heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  max-width: 780px;
  margin-top: 103px;
  margin-bottom: 80px;
}
.about__heading_blue {
  color: #3E9CDC;
}

.advantages {
  margin-bottom: 80px;
}

.advantages__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.advantages__item {
  position: relative;
  left: 15px;
  padding-left: 5px;
  font-size: 20px;
  line-height: 24px;
}
.advantages__item::before {
  content: "-";
  position: absolute;
  left: -10px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 5px;
}

.about__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.about__order {
  margin-right: 30px;
}

.order {
  background: url("../img/order-bg.png") no-repeat, #272733;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}

.order__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.order__heading_blue {
  color: #3E9CDC;
}

.order__info {
  color: #BBBBBB;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.steps {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.steps__item {
  width: 188px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.steps__item:not(:last-child)::after {
  position: absolute;
  content: url("../img/icons/steps-divider.svg");
  right: -85px;
  top: 40px;
}

.steps__image {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background: #3E9CDC;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #286690;
  border-radius: 100%;
}

.steps__description {
  text-align: center;
  color: #FFFFFF;
}

.form__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.form__inputs + .form__inputs {
  margin-top: 30px;
}

.form__input {
  width: 370px;
  height: 48px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding: 12px 10px;
  color: #272733;
  font-size: 18px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #272733;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #272733;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #272733;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #272733;
}

.form__select {
  position: relative;
}

.form__button {
  border-radius: 3px;
}
.form__button_active {
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
  background-color: #3A3C4C;
  border: 1px solid #3D4050;
}

.form__options {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #272733;
  border: 1px solid #3A3C4C;
  border-radius: 0 0 3px 3px;
  color: #FFFFFF;
  opacity: 0;
  position: absolute;
  top: 46px;
  left: 0;
  height: 0;
  transition: all 0.4s ease;
  visibility: hidden;
}
.form__options_active {
  visibility: visible;
  opacity: 1;
  height: 182px;
  transition: all 0.4s ease;
}
.form__options:focus-visible {
  outline: none;
}

.form__option {
  padding: 0;
}
.form__option:not(:last-child) {
  padding-bottom: 5px;
}
.form__option:not(:first-child) {
  padding-top: 5px;
}
.form__option:checked {
  color: #3E9CDC;
  box-shadow: 0 0 10px 100px #272733 inset;
}
.form__option:hover, .form__option:focus {
  box-shadow: 0 0 10px 100px #272733 inset;
  color: #3E9CDC;
  cursor: pointer;
  outline: none;
}
.form__option:focus-visible {
  color: #3E9CDC;
  box-shadow: 0 0 10px 100px #272733 inset;
}
.form__option:focus-within {
  color: #3E9CDC;
  box-shadow: 0 0 10px 100px #272733 inset;
}
.form__option[selected] {
  color: #3E9CDC;
}

.form .main-button {
  margin: 46px auto 0 auto;
  width: 370px;
}

/*# sourceMappingURL=main.css.map */
